doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DashBoard
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body(style='display:flex;')
        div(style='width:450px; background:white; color:black;  text-align: center; height:100vh;') 
            h3   Meeting ID
        div(style='width:800px; text-align: center; height:100vh;')
            h1 My Personal Meeting ID
            h2 0000
            button(style="margin: 10px") start
            button(style="margin: 10px") copy invitation
        script(src="/socket.io/socket.io.js")     
        script(src="/public/js/main.js" ) 
                 